$blue:#48586F;
$cream:#FFFFC0;
$tan:#D6C496;
$red:#D62E2E;
$charcoal:#283D3E;

body {
	background-color:$blue;
	font-family: 'Nunito', sans-serif;
	color:$cream;
	//text-decoration:bold;
	margin-top: 50px;
	text-align:center;
}
nav {
	text-align:center;
	margin-bottom:40px;
}
a {
	color:$cream;
}
.omaha {
	height:5px;
	background-color:$cream;
}
.utah {
	height:5px;
	background-color:$tan;
}
.tulsa {
	height:5px;
	background-color:$red;
}

.masthead {
	text-align:center;
	text-decoration:underline;
}
.dallas {
	text-align:center;
}

input {
	background-color:$tan;
	color:$charcoal;
}
button {
	background-color:$tan;
}
.results {
	text-align:center;
}
main {
	height:320px;
}
