<div class="col-lg-12">
	</br>
	<form ng-submit="controller.submit()" name="form" class="col-lg-12 tellUs">
		<label>Your name</label>
		<input ng-model="controller.form.name" placeholder="ex: Karen"></input>
		</br>
		<label>Your location</label>
		<input ng-model="controller.form.location" placeholder="ex: Panama City"></input>
		</br>
		<label>Favorite Country</label>
		<input ng-model="controller.form.favoriteCountry" placeholder="ex: Bolivia"></input>
		</br>
		<label>Favorite Capital</label>
		<input ng-model="controller.form.favoriteCapital" placeholder="ex: Tokyo"></input>
		</br>
		<label>Why?</label>
		<textarea ng-model="controller.form.why" placeholder="ex: they have the best fried chicken!"></textarea>
		</br>
		<button type="submit">Submit</button>
	</form>
</div>