<div>
	</br>
	<form class="col-sm-12 tellUs">
		<label>Your name</label>
		<input placeholder="ex: Karen"></input>
		</br>
		<label>Your location</label>
		<input placeholder="ex: Panama City"></input>
		</br>
		<label>Favorite Country</label>
		<input placeholder="ex: Bolivia"></input>
		</br>
		<label>Favorite Capital</label>
		<input placeholder="ex: Tokyo"></input>
		</br>
		<label>Why?</label>
		<textarea placeholder="ex: they have the best fried chicken!"></textarea>
		</br>
		<button>Submit</button>
	</form>
</div>